<?xml version="1.0"?>
<launch>


    <!-- vertical_obst 1 -->
    <arg name="vertical_obst_1" default="vertical_obst_1"/>
q
    <node name="spawn_$(arg vertical_obst_1)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_1)
               -x 2 -y 2 -z -0.3 -Y 1"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 2 -->
    <arg name="vertical_obst_2" default="vertical_obst_2"/>
q
    <node name="spawn_$(arg vertical_obst_2)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_2)
               -x 7 -y 2 -z -0.3 -Y 2"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 3 -->
    <arg name="vertical_obst_3" default="vertical_obst_3"/>
q
    <node name="spawn_$(arg vertical_obst_3)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_3)
               -x 12 -y 2 -z -0.3 -Y 3"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 4 -->
    <arg name="vertical_obst_4" default="vertical_obst_4"/>
q
    <node name="spawn_$(arg vertical_obst_4)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_4)
               -x 17 -y 2 -z -0.3 -Y 4"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 5 -->
    <arg name="vertical_obst_5" default="vertical_obst_5"/>
q
    <node name="spawn_$(arg vertical_obst_5)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_5)
               -x 22 -y 2 -z -0.3 -Y 5"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 6 -->
    <arg name="vertical_obst_6" default="vertical_obst_6"/>
q
    <node name="spawn_$(arg vertical_obst_6)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_6)
               -x 27 -y 2 -z -0.3 -Y 6"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 7 -->
    <arg name="vertical_obst_7" default="vertical_obst_7"/>
q
    <node name="spawn_$(arg vertical_obst_7)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_7)
               -x 32 -y 2 -z -0.3 -Y 7"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 8 -->
    <arg name="vertical_obst_8" default="vertical_obst_8"/>
q
    <node name="spawn_$(arg vertical_obst_8)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_8)
               -x 2 -y 7 -z -0.3 -Y 8"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 9 -->
    <arg name="vertical_obst_9" default="vertical_obst_9"/>
q
    <node name="spawn_$(arg vertical_obst_9)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_9)
               -x 7 -y 7 -z -0.3 -Y 9"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 10 -->
    <arg name="vertical_obst_10" default="vertical_obst_10"/>
q
    <node name="spawn_$(arg vertical_obst_10)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_10)
               -x 12 -y 7 -z -0.3 -Y 10"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 11 -->
    <arg name="vertical_obst_11" default="vertical_obst_11"/>
q
    <node name="spawn_$(arg vertical_obst_11)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_11)
               -x 17 -y 7 -z -0.3 -Y 11"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 12 -->
    <arg name="vertical_obst_12" default="vertical_obst_12"/>
q
    <node name="spawn_$(arg vertical_obst_12)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_12)
               -x 22 -y 7 -z -0.3 -Y 12"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 13 -->
    <arg name="vertical_obst_13" default="vertical_obst_13"/>
q
    <node name="spawn_$(arg vertical_obst_13)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_13)
               -x 27 -y 7 -z -0.3 -Y 13"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 14 -->
    <arg name="vertical_obst_14" default="vertical_obst_14"/>
q
    <node name="spawn_$(arg vertical_obst_14)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_14)
               -x 32 -y 7 -z -0.3 -Y 14"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 15 -->
    <arg name="vertical_obst_15" default="vertical_obst_15"/>
q
    <node name="spawn_$(arg vertical_obst_15)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_15)
               -x 2 -y 12 -z -0.3 -Y 15"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 16 -->
    <arg name="vertical_obst_16" default="vertical_obst_16"/>
q
    <node name="spawn_$(arg vertical_obst_16)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_16)
               -x 7 -y 12 -z -0.3 -Y 16"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 17 -->
    <arg name="vertical_obst_17" default="vertical_obst_17"/>
q
    <node name="spawn_$(arg vertical_obst_17)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_17)
               -x 12 -y 12 -z -0.3 -Y 17"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 18 -->
    <arg name="vertical_obst_18" default="vertical_obst_18"/>
q
    <node name="spawn_$(arg vertical_obst_18)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_18)
               -x 17 -y 12 -z -0.3 -Y 18"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 19 -->
    <arg name="vertical_obst_19" default="vertical_obst_19"/>
q
    <node name="spawn_$(arg vertical_obst_19)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_19)
               -x 22 -y 12 -z -0.3 -Y 19"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 20 -->
    <arg name="vertical_obst_20" default="vertical_obst_20"/>
q
    <node name="spawn_$(arg vertical_obst_20)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_20)
               -x 27 -y 12 -z -0.3 -Y 20"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 21 -->
    <arg name="vertical_obst_21" default="vertical_obst_21"/>
q
    <node name="spawn_$(arg vertical_obst_21)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_21)
               -x 32 -y 12 -z -0.3 -Y 21"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 22 -->
    <arg name="vertical_obst_22" default="vertical_obst_22"/>
q
    <node name="spawn_$(arg vertical_obst_22)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_22)
               -x 2 -y 17 -z -0.3 -Y 22"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 23 -->
    <arg name="vertical_obst_23" default="vertical_obst_23"/>
q
    <node name="spawn_$(arg vertical_obst_23)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_23)
               -x 7 -y 17 -z -0.3 -Y 23"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 24 -->
    <arg name="vertical_obst_24" default="vertical_obst_24"/>
q
    <node name="spawn_$(arg vertical_obst_24)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_24)
               -x 12 -y 17 -z -0.3 -Y 24"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 25 -->
    <arg name="vertical_obst_25" default="vertical_obst_25"/>
q
    <node name="spawn_$(arg vertical_obst_25)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_25)
               -x 17 -y 17 -z -0.3 -Y 25"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 26 -->
    <arg name="vertical_obst_26" default="vertical_obst_26"/>
q
    <node name="spawn_$(arg vertical_obst_26)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_26)
               -x 22 -y 17 -z -0.3 -Y 26"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 27 -->
    <arg name="vertical_obst_27" default="vertical_obst_27"/>
q
    <node name="spawn_$(arg vertical_obst_27)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_27)
               -x 27 -y 17 -z -0.3 -Y 27"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 28 -->
    <arg name="vertical_obst_28" default="vertical_obst_28"/>
q
    <node name="spawn_$(arg vertical_obst_28)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_28)
               -x 32 -y 17 -z -0.3 -Y 28"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 29 -->
    <arg name="vertical_obst_29" default="vertical_obst_29"/>
q
    <node name="spawn_$(arg vertical_obst_29)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_29)
               -x 2 -y 22 -z -0.3 -Y 29"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 30 -->
    <arg name="vertical_obst_30" default="vertical_obst_30"/>
q
    <node name="spawn_$(arg vertical_obst_30)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_30)
               -x 7 -y 22 -z -0.3 -Y 30"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 31 -->
    <arg name="vertical_obst_31" default="vertical_obst_31"/>
q
    <node name="spawn_$(arg vertical_obst_31)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_31)
               -x 12 -y 22 -z -0.3 -Y 31"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 32 -->
    <arg name="vertical_obst_32" default="vertical_obst_32"/>
q
    <node name="spawn_$(arg vertical_obst_32)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_32)
               -x 17 -y 22 -z -0.3 -Y 32"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 33 -->
    <arg name="vertical_obst_33" default="vertical_obst_33"/>
q
    <node name="spawn_$(arg vertical_obst_33)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_33)
               -x 22 -y 22 -z -0.3 -Y 33"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 34 -->
    <arg name="vertical_obst_34" default="vertical_obst_34"/>
q
    <node name="spawn_$(arg vertical_obst_34)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_34)
               -x 27 -y 22 -z -0.3 -Y 34"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 35 -->
    <arg name="vertical_obst_35" default="vertical_obst_35"/>
q
    <node name="spawn_$(arg vertical_obst_35)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_35)
               -x 32 -y 22 -z -0.3 -Y 35"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 36 -->
    <arg name="vertical_obst_36" default="vertical_obst_36"/>
q
    <node name="spawn_$(arg vertical_obst_36)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_36)
               -x 2 -y 27 -z -0.3 -Y 36"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 37 -->
    <arg name="vertical_obst_37" default="vertical_obst_37"/>
q
    <node name="spawn_$(arg vertical_obst_37)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_37)
               -x 7 -y 27 -z -0.3 -Y 37"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 38 -->
    <arg name="vertical_obst_38" default="vertical_obst_38"/>
q
    <node name="spawn_$(arg vertical_obst_38)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_38)
               -x 12 -y 27 -z -0.3 -Y 38"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 39 -->
    <arg name="vertical_obst_39" default="vertical_obst_39"/>
q
    <node name="spawn_$(arg vertical_obst_39)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_39)
               -x 17 -y 27 -z -0.3 -Y 39"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 40 -->
    <arg name="vertical_obst_40" default="vertical_obst_40"/>
q
    <node name="spawn_$(arg vertical_obst_40)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_40)
               -x 22 -y 27 -z -0.3 -Y 40"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 41 -->
    <arg name="vertical_obst_41" default="vertical_obst_41"/>
q
    <node name="spawn_$(arg vertical_obst_41)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_41)
               -x 27 -y 27 -z -0.3 -Y 41"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 42 -->
    <arg name="vertical_obst_42" default="vertical_obst_42"/>
q
    <node name="spawn_$(arg vertical_obst_42)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_42)
               -x 32 -y 27 -z -0.3 -Y 42"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 43 -->
    <arg name="vertical_obst_43" default="vertical_obst_43"/>
q
    <node name="spawn_$(arg vertical_obst_43)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_43)
               -x 2 -y 32 -z -0.3 -Y 43"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 44 -->
    <arg name="vertical_obst_44" default="vertical_obst_44"/>
q
    <node name="spawn_$(arg vertical_obst_44)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_44)
               -x 7 -y 32 -z -0.3 -Y 44"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 45 -->
    <arg name="vertical_obst_45" default="vertical_obst_45"/>
q
    <node name="spawn_$(arg vertical_obst_45)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_45)
               -x 12 -y 32 -z -0.3 -Y 45"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 46 -->
    <arg name="vertical_obst_46" default="vertical_obst_46"/>
q
    <node name="spawn_$(arg vertical_obst_46)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_46)
               -x 17 -y 32 -z -0.3 -Y 46"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 47 -->
    <arg name="vertical_obst_47" default="vertical_obst_47"/>
q
    <node name="spawn_$(arg vertical_obst_47)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_47)
               -x 22 -y 32 -z -0.3 -Y 47"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 48 -->
    <arg name="vertical_obst_48" default="vertical_obst_48"/>
q
    <node name="spawn_$(arg vertical_obst_48)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_48)
               -x 27 -y 32 -z -0.3 -Y 48"
        respawn="false" output="screen">
    </node>



    <!-- vertical_obst 49 -->
    <arg name="vertical_obst_49" default="vertical_obst_49"/>
q
    <node name="spawn_$(arg vertical_obst_49)" pkg="gazebo_ros" type="spawn_model"
        args="-file $(env HOME)/.gazebo/models/oak_tree_transparent/model.sdf -sdf
               -model $(arg vertical_obst_49)
               -x 32 -y 32 -z -0.3 -Y 49"
        respawn="false" output="screen">
    </node>


</launch>
